.rc-tooltip {
  width:100px;
}

.target {
  width:100px;
  height:100px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
